name: Terraform Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  PROJECT_NAME: app-prod

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::590716168763:role/github-terraform-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Import existing resources (idempotent)
        run: |
          export PROJECT_NAME="${{ env.PROJECT_NAME }}"
          chmod +x scripts/import-existing-resources.sh
          bash scripts/import-existing-resources.sh

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -var="project_name=${{ env.PROJECT_NAME }}" -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
        
      - name: Terraform Destroy
        run: terraform destroy -auto-approve 
